.calc{
    margin: 0 auto;
    width: 35vw;
}

.display{
    margin: 5px;
    border: 1px solid rgb(104, 103, 103);
    border-radius: 5px;
    height: 8vh;
    display:flex;
}
.displayNumber{
    margin:auto 5px 5px auto;
    font-size: 36px;
}

.wrapper{
    display:grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    grid-gap: 1em;
}



.button{
    background: #dadce0;
    color: #202124;
    border: 1px solid #dadce0;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.numberButton{
    background: #f1f3f4;
    color: #202124;
    border: 1px solid #f1f3f4;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
.equalButton{
    background: #4285f4;
    color: white;
    border: 1px solid #4285f4;
    border-radius: 4px;
    box-sizing: border-box;
    height: 40px;
    margin: 5px;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.col:hover{
    cursor: pointer;
}